body{
    background-color: #D7E4C0 !important;
    text-align: center !important;
}

.carousel-inner{
    border-radius: 10px;
}

.custom-shadow {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

button.animated-button {
    position: relative;
    overflow: hidden;
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #82A53A;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button.animated-button:hover {
    background-color: #7DB8B7;
}

button.animated-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
